.button {
  position: relative;
  display: inline-block;
  border: none;
  padding: 14px 26px;
  font-family: "relaway-vh", sans-serif;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $dark-color;
    transition: all 0.5s ease-out;
  }

  span {
    position: relative;
    z-index: 2;
  }

  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  }
}
